
* {
    font-family: 'Exo', Helvetica, sans-serif;
    /*border: 1px solid lightgrey !important;  /!*just to see the layout *!/*/
}

h2 {
    color: grey;
    font-weight: 400;
}

.showcase {
    text-align: center;
}

.showcase img {
    height: 200px;
}

