


/*Source: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/*/
.ellipsis {/*Source: http://joelsaupe.com/programming/multiple-line-ellipsis-css/ */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.block-ellipsis {/*Source: http://joelsaupe.com/programming/multiple-line-ellipsis-css/ */
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}